<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="120" pullMax="240">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
        >
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid style="height: 100%">
        <ion-row align-items-center style="height:100%">
            <ion-col>

                    <ion-row justify-content-center *ngFor="let line of display">
                        <ion-col size="4" *ngFor="let img of line">
                            <img src="{{img}}">
                        </ion-col>
                    </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
